.task-list {}
.task-item {}

.status-* {}
.status-notstart {}
.status-inprog {}
.status-done {}

table {width: 100%;}
tr {}
th, td {text-align: center;}
th {background: #eee;}
td {}

.team.pink {background: #f9c;}
.team.blue {background: #9cf;}
.team.blonde {background: #fc9;}
.team.brown {background: #c96;}

.shift {}

.shift-1 {border:1px solid cyan; background:#fed;}
.shift-2 {border:1px solid magenta; background:#def;}
.shift-3 {border:1px solid yellow; background:#fde;}
.shift-4 {border:1px solid black; background:#edc;}


.shift-1,
.shift-2,
.shift-3,
.shift-4 {padding:2px; margin:2px;}